{{# if showShop}}
<footer class="footer footer-shop">
  <div class="container">
      <div class="row col-md-8 col-md-offset-2">
          <a href="/"><h1 class="brand-image footer-text">MIE</h1></a>
            <ul class="footer-links">
              <li class="footer-link-item"><a href="#">Sizing Chart</a></li>
              <li class="footer-link-item">&bull;</li>
              <li class="footer-link-item"><a href="#">Contact</a></li>
              <li class="footer-link-item">&bull;</li>
              <li class="footer-link-item"><a href="/other/privacy">Privacy</a></li>
            </ul>
          </div>
      <div class="row col-md-8 col-md-offset-2">
        <p class="center">M&icirc;e is a Hawaii based fashionista.</p>
      </div>
    </div>
</footer>
{{/if}}
