{{#if showShop}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header padding-bottom-30">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/shop">
        <img class="header-image" src="/images/mie02.png" width="auto" height="50px"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right padding-top-15" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/shopping-cart">
              <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
              <span class="badge text-white">{{ session.cart.totalQty }}</span>
            </a>
        </li>
        <li class="dropdown text-white">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user text-white" aria-hidden="true"></i><span class="caret text-white"></span></a>
          <ul class="dropdown-menu">
            {{# if login}}
              <li><a href="/user/profile">Orders</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user/logout">Logout</a></li>
            {{ else }}
              <li><a href="/user/signup">Sign up</a></li>
              <li><a href="/user/signin">Sign in</a></li>
            {{/if}}

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{/if}}
