<div class="container-fluid full-bg">
      <a class="shop-link navbar-brand" href="/shop">
        <img class="navbar-brandheader-image" src="/images/mie02.png" width="auto" height="50px"/>
        </a>
    <footer class="footer-splash">
      <i class="fa fa-instagram fa-lg fa-4x icon-fa text-white" aria-hidden="true"></i>
    </footer>
</div>
