<div class="full-bg">
      <a href="/shop" class="btn btn-default" >SHOP</a>

    <footer class="footer footer-splash">
      <i class="fa fa-instagram fa-lg fa-4x icon-fa" aria-hidden="true"></i>
    </footer>
</div>
