body {
  background: url('/images/bodybg.jpg') no-repeat center center fixed;
  background-attachment: fixed;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.center {
  text-align: center;
}
.item {
  min-width: 350px;
}

.thumbnail img{
  max-height: 150px;

}



.thumbnail .description {
  color: #7f7f7f;
}

.icon-fa:hover {
  color: rgba(0,0,0, 0.3);
}

.price {
  font-weight: bold;
  font-size: 16px;

}

.text-white {
  color: rgb(255, 255, 255);
}

  .full-bg {
  background: url('/images/miebikini1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  width:100vw;
}

.header-image {
  display: inline;
  float: right;
}

.footer-text, .footer-links, .footer-link-item, .footer a{
  color: #f8f8f8;
}

.footer p {
  color: #b8b8b8;
}

.footer-splash {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer {
  flex: none;
}

.footer-shop {
  background: rgba(0, 0, 0, .6);
  height: 260px;
}

.navbar {
  background: rgba(0,0,0,.6);
  border: none;
}



.footer-links {
  list-style: none;
  text-align: center;
  display: block;
  float: none;
  padding-left: 0px;
}

.footer-link-item {
  display: inline;

}

a {
  color: #000;
}

a:hover {
  color: #888;
  text-decoration: none;
}

.pre-scrollable {
  max-height: 75vh;
}

.margin-bottom-150 {
  margin-bottom: 150px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.footer-info {
  margin-top: 20px;
}


.brand-image {
  display: block;
  float:none;
  text-align: center;
}

.list-group-item {
  min-height: 50px;
}

.btn-default {
  padding-bottom: 3px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-top-15 {
  padding-top: 15px;
}

.width-big {
  width: 300px;
}

strong {
  color: #fff;
}

.btn-default:hover{
  background: rgb(255, 0, 0);
  color: #fff;
}

.shop-link {
  float: left;

}

h1, h2, dt, dd {
  color: #eee;
}

.checkout h4, h3, label, p {
  color: #fff;
}

.item h2 {
  color: rgb(255, 0, 0);
}

.grey-bg {
  background-color: rgba(0,0,0,.6);
}

.big-checkbox {
  width:30px;
  height:30px;
}

.center {
  text-align: center;
}

@media only screen and (min-width: 520px) {
  .width-big {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 0px !important;
  }
}
