<div class="row checkout center">
  <div class="grey-bg col-xs-10 col-xs-offset-1 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <h2>Is this an international order?</h2>
    <h4>All international orders will be charged a $25 flat rate shipping fee.</h4>
    <div class="btn-group center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary"><a href="/addFee">Yes</a></button>
  <button type="button" class="btn btn-secondary"><a href="/noFee">No</a></button>
</div>
  </div>
</div>
